@import 'static/sass/_colors'
@import 'static/sass/_mixins'

.grid-item
	margin-top: 20px
	width: 200px
	background-color: $color-box-background

.grid-item-icon
	width: 100px
	background-color: $color-disabled
	border-radius: 50%







	