Django >= 2.0
psycopg2-binary

#django rest framework requirements
djangorestframework
markdown       # Markdown support for the browsable API.
django-filter  # Filtering support


paramiko #python ssh support
Celery   #job queue support
django-encrypted-model-fields
docutils
django-model-utils # InheritanceManager used for Tasks
humanize # for formatting values in file manager
Sphinx # for documentation support
python-irodsclient

#For automatic sass compiling
libsass
django-compressor
django-sass-processor

django-imagekit #image caching/manipulation

#For dirt2 workflow
numpy
mahotas
scipy
imageio
