Django == 2.2.10
psycopg2-binary
djangorestframework
markdown
django-filter
paramiko
Celery
django-encrypted-model-fields
docutils
django-model-utils
humanize
python-irodsclient
Sphinx
sphinx_rtd_theme
django-imagekit
pillow
django-cas-ng
sentry-sdk
gunicorn
dagster
dagster-postgres
dagster-celery
dagster-cron
dagit
gql
six>=1.12