Django == 2.2.10
psycopg2-binary

#django rest framework requirements
djangorestframework

markdown       # Markdown support for the browsable API.
django-filter  # Filtering support

paramiko #python ssh support
Celery   #job queue support
django-encrypted-model-fields
docutils
django-model-utils # InheritanceManager used for Tasks
humanize           # for formatting values in file manager
python-irodsclient

# for documentation support
Sphinx
sphinx_rtd_theme

#image caching/manipulation
django-imagekit
pillow

django-cas-ng
sentry-sdk
gunicorn
dagster
dagster-postgres
dagster-celery
dagster-cron
dagit
