{% extends 'includes/page-default.html' %}

{% comment %}

User landing/home page.

Attributes:
  user (djanog.contrib.auth.User): user object
  jobs (list): list of jobs (job_manager.job.Job) that the user has started

{% endcomment %}

{% load static %}
{% load job_filters %}
{% load sass_tags %}

{% block header %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet"  type="text/css" href="{% sass_src 'user/sass/user_landing.sass' %}">
{% endblock %}

{% block page-content %}
  <h2>Welcome {{ user.username }} <span class="glyphicon glyphicon-ok"></span></h2>

  <div id="two-thirds-left-column">
    <div class="profile-data">
      Biography
      <hr>
      <ul>
        <li>City: {{ user.profile.city }}</li>
        <li>Country: {{ user.profile.country }}</li>
        <li>Affiliation: {{ user.profile.affiliation }}</li>
      </ul>
    </div>
  </div>

  <div id="two-thirds-right-column">

      <div class="content">
        <h2> Recent Jobs </h2>
        <table>
          <tr>
            <th>Job Id</th>
            <th>Progress</th>
            <th>Current Status</th>
            <th>Status Description</th>

          </tr>
          {% for job in jobs|slice:":5" %}
              <tr>
                <td class="text-center"><a href="{% url 'job_manager:job' job.pk %}">{{ job.id }}</a></td>
                <td nowrap width="30%">
                  <div class="discrete-progress-bar">
                    {% for task in job|tasks %}
                      <div class="section">
                        {% if task.complete %}
                          <div class="progress complete">
                            <i class="fas fa-check" ></i>
                          </div>
                        {% else %}
                          <div class="progress queued" style="min-width: 5px; min-height: 15px">

                          </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </td>
                <td class="text-center">{{ job|current_status }}</td>
                <td>{{ job|current_status_description }}</td>
              </tr>
          {% endfor %}
        </table>
        <h3><a href="{% url 'job_manager:job_list' %}">View all jobs</a></h3>

      <h2> Recent Collections </h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>

        {% for collection in collections|slice:":5" %}
            <tr>
              <td class="text-center">
                <a href="{% url 'collection:details' collection.pk %}">
                  {{ collection.name }}
                </a>
              </td>
              <td class="text-center">{{ collection.description }}</td>
            </tr>
        {% endfor %}
      </table>
      <h3><a href="{% url 'collection:list' %}">View all collections</a></h3>

      </div>

  </div>


{% endblock %}
