Django
django-imagekit
django-filter
django-model-utils
django-taggit
django-celery-beat
djangorestframework
djangochannelsrestframework
django-enum-choices
psycopg2-binary
markdown
paramiko
Celery==4.4.7
docutils
humanize
Sphinx
sphinx_rtd_theme
SQLAlchemy
Pillow
sentry-sdk
gunicorn
uvicorn[standard]
gql
six
pyjwt[crypto]
PyGithub
requests
pyaml
channels
daphne
Twisted[tls,http2]
sphinx
recommonmark
httpx==0.16.1
