Django
django-imagekit
django-filter
django-model-utils
django-taggit
djangorestframework
psycopg2-binary
markdown
paramiko
Celery==4.4.7
docutils
humanize
Sphinx
sphinx_rtd_theme
Pillow
sentry-sdk
gunicorn
gql
six
pyjwt[crypto]
PyGithub
requests
pyaml
channels
sphinx
recommonmark
httpx==0.16.1