{% extends 'includes/page-default.html' %}

{% block page-content %}
    <h1>Submit To Cluster</h1>
    <form method="POST" class="post-form">{% csrf_token %}
      {% csrf_token %}
      {% regroup form by field.group as field_groups %}
      {% for field_group in field_groups %}
        <h3>{{field_group.grouper}}</h3>
        {% for field in field_group.list %}
          {{ field.label }} : {{ field }}
        {% endfor %}
      {% endfor %}
      <br/>
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
{% endblock %}
