{% comment %}

Displays a list of available workflows

Attributes:
  workflows (dictionary): available workflows
    key: name of workflow
    value:
      value.description: description of workflow
      value.app_name: url label of the workflow

{% endcomment %}

{% load static %}
{% include "includes/page-default.html" %}

{% block page-content %}

  <h1>Select a Workflow</h1>

  <div class="grid-container">
      {% for key, value in workflows.items %}
          <div class="grid-item grid-border" style="width: 200px">
            <a href="{% url value.app_url_pattern collection %}">{{ key }}</a><br />
            <hr>
            {{ value.description }}
          </div>
      {% endfor %}
  </div>

{% endblock %}
