<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>

#left-sidebar{
  float: left;
  width: 20%;
}

#right-content{
  float: left;
  width: 70%;
}

</style>

{{ form.media }}

</head>

<body>
  <div id="left-sidebar">
    <ul>
      <li><a href="{% url 'workflows:dirt2d:details' pk=object.pk %}">Details</a> <a href="{% url 'workflows:dirt2d:edit_details' pk=object.pk %}">(Edit)</a></li>
      <li><a href="{% url 'workflows:dirt2d:images' pk=object.pk %}">Files</a> <a href="{% url 'workflows:dirt2d:edit_images' pk=object.pk %}">(Add/Edit)</a></li>
      <li><a href="{% url 'workflows:dirt2d:analyze' pk=object.pk %}">Analyze</a></li>
    </ul>
  </div>
  <div id="right-content">
   {% block content %}
   {% endblock %}
  </div>
</body>
