{% extends 'workflows/collection/collection.html' %}

{% block content %}
  <p><b>Name:</b> {{ object.name }}</p>
  <p><b>Desc:</b> {{ object.description }}</p>
  <p><b>User:</b> {{ object.user }}</p>
  <p>
    <p><b>Tags</b></p>
    <ul>
      {% for t in tags %}
        <li>{{ t.tag }}</li>
      {% empty %}
        No Tags
      {% endfor %}
    </ul>
  </p>
  <p>
    <p><b>Metadata</b></p>
    <ul>
      {% for m in metadata %}
        <li>{{ m.key }} - {{ m.value }}</li>
      {% empty %}
        No metadata
      {% endfor %}
    </ul>
  </p>
{% endblock %}
