{% extends 'workflows/collection/collection.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header"> Files </div>
          <ul class="list-unstyled"
            {% for file in files %}
              <li>{{ file.name }}</li>
              <li>
                <ul>
                  {% for key, value in file.items %}
                    {% if value %}
                      <li>{{ key }} : {{ value }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% empty %}
              <li class="text-muted text-center">No Files</li>
            {% endfor %}
          </ul>
    </div>
  </div>
</div>

{% endblock %}
