{% extends "includes/page-default.html" %}

{% block header %}
  <!-- Header block begin  -->
  {{ form.media }}
  <!-- header block end -->
{% endblock %}

{% block contextual-nav %}
  <ul>
    <li><a href="{% url 'user:user_landing' %}">Dashboard</a></li>
    <li><a href="{% url 'job_manager:list' %}">All Jobs</a></li>
  </ul>
{% endblock %}

{% block page-content %}
  <h1>Add/Remove Files</h1>

  <div class="content-column">

    <form method="POST" class="post-form">
      {% csrf_token %}
        <div class="form-group">
          <div class="border p-5">
            Choose files to add to collection
            {{ form }}
          </div>
        </div>
        <button type="submit" class="save btn">Add</button>
        <a href="{% url 'collection:details' object.pk %}" class="btn btn-default">Cancel</a>
    </form>

  </div>


{% endblock %}
