{% extends "includes/page-default.html" %}
{% load static %}

{% block header %}
  <link rel="stylesheet"  type="text/css" href="{% static 'css/collection/collection.css' %}">
{% endblock %}

{% block contextual-nav %}
  <ul>
    <li> <a href="{% url 'user:user_landing' %}">Dashboard</a></li>
    <li> <a href="{% url 'collection:list' %}"> My Collections</a></li>
  </ul>
{% endblock %}

{% block page-content %}

  <div class="button-nav">
    <a href="{% url 'collection:edit_files' pk=object.pk %}"><button class="btn btn-nav">Add Files</button></a>
    <a href="{% url 'workflows:list' %}?collection={{object.pk}}"><button class="btn btn-nav">Analyze</button></a>
  </div>

  <div class="content-column">
      <div class="grid-container" id="samples">
        {% for sample in samples %}
          <div class="grid-item grid-border">
              <div class="image">
                {% if sample.thumbnail %}
                  <img src="{{ sample.thumbnail.url }}">
                {% else %}
                  <img width=100 height=100 src="{% static 'icons/ajax-loader.gif' %}">
                {% endif %}
              </div>
              <div class="title">{{ sample.name }}</div>
          </div>
        {% empty %}
          <div class="grid-item grid-border">
            Choose <a href="{% url 'collection:edit_files' pk=object.pk %}">"Add Files"</a> to add files to this collection
          </div>
        {% endfor %}
      </div>
      <div id="info">
        <p> Collection: {{ object.name }} </p>
        <p> Owned by: {{ object.user }} </p>
      </div>
      <div class="clear-floats"></div>
    </div>
  </div>


{% endblock %}
