{% extends "includes/page-default.html" %}

{% comment %}

Displays a list of available workflows

Attributes:
  workflows (dictionary): available workflows
    key: name of workflow
    value:
      value.description: description of workflow
      value.app_name: url label of the workflow
	  value.app_url_pattern: link to workflow

{% endcomment %}

{% load static %}
{% load sass_tags %}

{% block header %}
  <link rel="stylesheet"  type="text/css" href="{% sass_src 'workflows/sass/main.sass' %}">
{% endblock %}

{% block contextual-nav %}
  <ul>
    <li><a href="{% url 'user:user_landing' %}">Dashboard</a></li>
  </ul>
{% endblock %}

{% block page-content %}

  <h1>Select a Workflow</h1>
<h5>Additional data may be required on the following page</h5>

<div class="button-nav">
  <a href="{% url 'collection:details' collection %}"><button class="btn btn-nav">Cancel</button></a>
</div>

  <div class="grid-container">
      {% for key, value in workflows.items %}
          <div class="grid-item grid-border">
				    <div class="grid-item-icon-background">
              <img class="grid-item-icon" src="{% static value.icon %}">
            </div>
            <div class="grid-item-text">
              <a href="{% url value.app_url_pattern collection %}">{{ key }}</a><br />
              <hr>
              {{ value.description }}
            </div>
          </div>
      {% endfor %}
  </div>



{% endblock %}
