{% extends 'includes/page-default.html' %}
{% load job_filters %}
{% load static %}
{% load sass_tags %}

{% block header %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet"  type="text/css" href="{% sass_src 'job_manager/sass/job.sass' %}">
{% endblock %}

{% block page-content %}
  <div>
    <div class="flex-row">
      <div class="flex-box">
        <h1>Job ID: {{ job.pk }}</h1>
        <h3>Collection: {{ job.collection }}</h3>
      </div>
      <div class="flex-box">
        <div class="admin-job-details">
          <b>Current Status:</b> {{ job|current_status }}<br/>
          <b>Submission ID:</b> {{ job.submission_id }}<br/>
          <b>Work DIR:</b> {{ job.work_dir }}<br/>
          <b>Auth Token:</b> {{ job.auth_token }}<br/>
        </div>
      </div>
  </div>

  <div class="button-nav">
    <a href="{% url 'user:user_landing' %}"><button class="btn btn-nav">Dashboard</button></a>
    <a href="{% url 'job_manager:list' %}"><button class="btn btn-nav">All Jobs</button></a>
  </div>

  <div class="content-column job-content" >

    {% if job|has_completed %}
      <div id="download-results">
        <a href="{% url 'job_manager:download' job.pk %}"><button class="btn btn-nav">
          <i class="fas fa-cloud-download-alt fa-9x"></i>
          <br/>
          Download Results
        </button></a>
      </div>
    {% else %}
      <img id="job-content-animation" src="{% static 'images/PlantITLoading.gif' %}" />
    {% endif %}

    <div class="discrete-progress-bar" id="job-progress-bar">
      {% for task in job|tasks %}
        <div class="section">
          {% if task.complete %}
            <div class="progress complete">
              <i class="fas fa-check"></i>
            </div>
            {{ task.name }}
          {% else %}
            <div class="progress queued"></div>
            {{ task.name }}
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% if job|has_failed %}
      <div class="job-failed">
        Job Failed with error: {{ job|current_status_description }}
      </div>
    {% else %}
      <div class="job-status">
        Job Status: {{ job|current_status }} -- {{ job|current_status_description }} on {{ job|current_status_date }}
      </div>
    {% endif %}
  </div>

  <div class="admin-status-log">
    <b>Job {{ job.pk }} run log:</b>
    <table>
      <tr>
        <th>Date</th>
        <th>State</th>
        <th>Desc.</th>
      </tr>
      {% for status in object|status_set %}
      <tr>
        <td class="text-center">{{ status.date }}</td>
        <td class="text-center">{{ status.state_str }}</td>
        <td>{{ status.description }}</td>
      </tr>
      {% endfor %}
    </table>
  <div>

{% endblock %}
