{% extends 'includes/page-default.html' %}
{% load job_filters %}
{% block page-content %}

<div class="content-column">
  <h1>Job {{ job.pk }}</h1>

  <b>Current Status:</b> {{ job|current_status }}<br/>
  <b>Submission ID:</b> {{ job.submission_id }}<br/>
  <b>Work DIR:</b> {{ job.work_dir }}<br/>
  <b>Auth Token:</b> {{ job.auth_token }}<br/>
  <br/>

  <h3>Tasks</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Complete</th>
    </tr>
    {% for task in object|tasks %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.complete }}</td>
        <td><a href="?rerun={{ task.pk }}">Rerun</a></td>
      </tr>
    {% endfor %}
  </table>

  <h3>State history for job {{ job.pk }}</h3>
  <table>
    <tr>
      <th>Date</th>
      <th>State</th>
      <th>Desc.</th>
    </tr>
    {% for status in object|status_set %}
    <tr>
      <td class="text-center">{{ status.date }}</td>
      <td class="text-center">{{ status.state_str }}</td>
      <td>{{ status.description }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="button-nav">
  <a href="{% url 'user_landing' %}"><button class="btn btn-nav">Back</button></a>
</div>

{% endblock %}
