table
  td, th
    padding: 10px
    padding-left: 15px

  td.text-center
    text-align: center

.ui-action
  color: blue
  text-decoration: underline

.ui-action:hover
  cursor: pointer

/** ********************************************************
  Discrete Progress Bar

  Genrates a discrete progress bar
 ************************************************************ **/
.discrete-progress-bar
  width: 100%
  list-style-type: none
  margin: 0px
  padding: 0px

ul.discrete-progress-bar li
  display: block
  float: left
  text-align: center
  background-color: $color-highlight
  height: 30px
  width: 50px
  margin: 0px
  border-left: 2px solid $color-box-background

ul.discrete-progress-bar li.complete
  background-color: $color-disabled

ul.discrete-progress-bar span.fas
  margin-top: 7px

/** ***************************************************************
  Button
 **************************************************************** **/
.btn-nav
  background-color: $color-button
  border-radius: 20px
  margin-left: 40px
  margin-right: 40px
  margin-top: 15px
  min-height: 50px
