{% extends 'includes/page-default.html' %}
{% load sass_tags %}
{% load static %}

{% block header %}
<script src="{% static 'workflows/js/analyze.js' %}"></script>
<link rel="stylesheet"  type="text/css" href="{% sass_src 'workflows/sass/analyze.sass' %}">
{% endblock %}

{% block page-content %}
    <h1>Submit To Cluster</h1>

    <div class="content-column">
      <form method="POST" class="post-form">{% csrf_token %}
        {% csrf_token %}
        {% regroup form by field.group as field_groups %}
        {% for field_group in field_groups %}
          {% if field_group.grouper == "Job Settings" %}
            <h3>{{field_group.grouper}}</h3>
            {% for field in field_group.list %}
              {{ field.label }} {{ field }}
            {% endfor %}
          {% else %}
            <div class="field-group">
              <h3>{{field_group.grouper}}</h3>
              <span class="ui-action check-all">Check All</span>
              <span class="ui-action uncheck-all">Uncheck All</span>
              <div class="grid-container">
                {% for field in field_group.list %}
                  <div class="grid-item ">{{ field }} {{ field.label }} </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <br/>
          <button type="submit" class="save btn btn-default">Submit</button>
          <a href="{% url 'user:user_landing' %}" class="btn btn-default">Cancel</a>
      </form>
    </div>
    {{ form.media }}
{% endblock %}
