{% extends "includes/page-default.html" %}

{% block header %}
  <!-- Header block begin  -->
  {{ form.media }}
  <!-- header block end -->
{% endblock %}

{% block page-content %}
  <h1>Add/Remove Files</h1>

  <div class="button-nav">
    <a href="{% url 'user:user_landing' %}"><button class="btn btn-nav">Dashboard</button></a>
    <a href="{% url 'collection:details' object.pk %}"><button class="btn btn-nav">Cancel</button></a>
  </div>

  <div class="content-column">

    <form method="POST" class="post-form">
      {% csrf_token %}
        <div class="form-group">
          <div class="border p-5">
            Choose files to add to collection
            {{ form }}
          </div>
        </div>
        <button type="submit" class="save btn">Add</button>
    </form>

  </div>


{% endblock %}
