{% comment %}

Displays a list of collections available to the user.

Attributes:
  object_list (list): a list of collections to display
    See collection.models.AbstractCollection for a list of collection attributes

{% endcomment %}

{% include "includes/page-default.html" %}

{% block page-content %}

  <h1>Collections</h1>

  <div class="content-column">
    <table style="width:100%">

      <tr>
        <th>Name</th>
      </tr>

    {% for collection in object_list %}
        <tr>
          <td>
            <a href="{% url 'collection:details' collection.pk %}">{{ collection.name }}</a>
          </td>
          <td>
            <a href="{% url 'workflows:list' %}?collection={{collection.pk}}">Analyze</a>
          </td>
          <td>
            <a class="debug-red" href="#">Download</a>
          </td>
          <td>
            <a href="?delete={{collection.pk}}">Delete</a>
          </td>
        </tr>
    {% empty %}
      <tr>
        <td>
          No Collections
        </td>
      </tr>
    {% endfor %}

  </table>

</div>

<div class="button-nav">
  <a href="{% url 'user_landing' %}"><button class="btn btn-nav">Home</button></a>
  <a href="{% url 'collection:new' %}"><button class="btn btn-nav">Create New Collection</button></a>
</div>

</div>

{% endblock %}
