Django
django-imagekit
django-cas-ng
django-filter
django-model-utils
django-taggit
djangorestframework
psycopg2-binary
markdown
paramiko
Celery==4.4.7
docutils
humanize
Sphinx
sphinx_rtd_theme
pillow
sentry-sdk
gunicorn
gql
six
PyJWT
PyGithub
requests
pyaml
channels