{% load sass_tags %}
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet"  type="text/css" href="{% sass_src 'dirt2/sass/index.sass' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Computational Plant Sciences</title>
</head>

<body>
  <div id="page-header">
    <a href="{% url 'user:user_landing' %}"> <button class="btn btn-nav" id="btn-login">LOGIN</button> </a>
  </div>

  <div id="page-title">
    <img src="{% static 'images/logo.png' %}" id="page-title-logo">
    <div id="page-title-text">PLANT IT</div>
  </div>

  <div id="page-content">
    Plant IT empowers computational researchers to make their algorithms
    available to a broad community, and provides biological researchers with an
    easy-to-use interface to apply the algorithms to their own data.
  </div>

  <nav class="navbar navbar-expand-lg navbar-light">

      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">More About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Public Data Sets</a>
          </li>
        </ul>
      </div>

    </nav>
</body>
